name: CI/CD Pipeline

on:
  push:
    branches: [ "main", "master" ]

jobs:
  # Job 1: Verify the Go code compiles
  verify-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: Setup Go Environment
        uses: actions/setup-go@v5
        with:
          go-version: '1.25' 

      - name: Download Dependencies
        run: go mod download

      - name: Verify Go Build
        run: go build -v ./...

  # Job 2: Build and Push Docker Image
  build-and-push:
    runs-on: ubuntu-latest
    needs: verify-code # Waits for Job 1 to succeed
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # CHANGE THIS to your actual Docker Hub username!
          tags: shariarkhan433/url-shortener-api:latest